Comfortable and simple to use, Python was born to be an easy-to-learn programming language. **Fun fact**: Python derives its name from the comedy Monty Python's Flying Circus by the famous Monty Python. Today, thanks to its simplicity and the wide ecosystem of libraries, tutorials, open-source projects and communities, it is the most popular language for ML.

In [ ]:
# This is a comment (ignored)
"""
This comment 
spans multiple lines
"""
3 + 2

5

In [ ]:
# We can manipulate variables
x = 3
y = x - 1
y

2

In [ ]:
# Warning: variables are overwritten by new value assignments
x = 5
x

5

In [ ]:
"""
Many functions are available in libraries that you need to import before they can be used. 
NumPy is the fundamental library for scientific computing.
"""
import numpy as np
np.sqrt(2)

1.4142135623730951

In [ ]:
# we also have arrays
x = [1, 2, 3, 4, 5]
len(x)

5

Python provides the three fundamental structures that allow you to translate an algorithm into a program:
* sequence
* selection
* iteration

In [ ]:
# sequence
a = -2 
b = 2
c = 1
delta = b**2 - 4*a*c
delta

12

In [ ]:
# selection (plus input from keyboard)
x = input("Please, insert an integer: x = ")
x = int(x)
if x < 0:
  x = -x
print("The absolute value of x is:", x)

Please, insert an integer: x = 3
The absolute value of x is: 3

In [ ]:
# iteration (plus function definition)
def average(x):
  n = len(x)
  sum = 0
  for i in range(n):
    sum = sum + x[i]
  average = sum / n
  return average

x = [1, 2, 3, 4, 5]
average(x)

3.0

Python also supports *object-oriented programming*; however, the deepening of this paradigm is left to the curious. Popular libraries for manipulating data and running ML algorithms are Pandas and Scikit-learn, respectively.

In [ ]:
import pandas as pd
from sklearn.datasets import load_boston # sklearn provides toy datasets

boston = load_boston()
data = pd.DataFrame(boston.data, columns = boston.feature_names)
data

        CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0    0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1    0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2    0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3    0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4    0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33
..       ...   ...    ...   ...    ...  ...  ...    ...      ...     ...    ...
501  0.06263   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  391.99   9.67
502  0.04527   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   9.08
503  0.06076   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   5.64
504  0.10959   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  393.45   6.48
505  0.04741   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   7.88

[506 rows x 13 columns]

In [ ]:
# the target variable is missing from the features
data['MEDV'] = boston.target
data

        CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0    0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...    ...      ...     ...    ...   ...
501  0.06263   0.0  11.93   0.0  0.573  ...  273.0     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93   0.0  0.573  ...  273.0     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93   0.0  0.573  ...  273.0     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

As you have seen, we can represent each data point as a row in a classic table, characterized by multiple attributes plus a target variable.